/* CSS for headings */
h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: #555;
}

/* CSS for paragraphs */
p {
    font-size: 16px;
    line-height: 1.5;
    color: #777;
}

body{
    background-color: #fafafa;
}

#about {
    padding: 20px;
    margin: 20px;
}